<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.DataSourceMapper">

    <select id="queryList" resultType="com.vgbhfive.v_rule.dto.datasource.DataSourceListDto">
        SELECT
            id, line_no, data_source_name, data_source_no, data_category_no, source_from, source_type, field, type, format, version, is_valid, create_at
        FROM data_source
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.dataSourceName != null and param.dataSourceName != ''">
                AND data_source_name like CONCAT(#{param.dataSourceName}, '%')
            </if>
            <if test="param.dataSourceNo != null and param.dataSourceNo != ''">
                AND data_source_no = #{param.dataSourceNo}
            </if>
            <if test="param.dataCategoryNo != null and param.dataCategoryNo != ''">
                AND data_category_no = #{param.dataCategoryNo}
            </if>
            <if test="param.field != null and param.field != ''">
                AND field = #{param.field}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM data_source
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.dataSourceName != null and param.dataSourceName != ''">
                AND data_source_name like CONCAT(#{param.dataSourceName}, '%')
            </if>
            <if test="param.dataSourceNo != null and param.dataSourceNo != ''">
                AND data_source_no = #{param.dataSourceNo}
            </if>
            <if test="param.dataCategoryNo != null and param.dataCategoryNo != ''">
                AND data_category_no = #{param.dataCategoryNo}
            </if>
            <if test="param.field != null and param.field != ''">
                AND field = #{param.field}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
    </select>

    <select id="queryDataSourceByDataSourceNos" resultType="com.vgbhfive.v_rule.dto.deploy.SceneStruct$DataSource">
        SELECT data_source_no as no, data_source_name as name, data_category_no, field, type, format, version, is_valid
        FROM data_source
        WHERE data_source_no IN
        <foreach collection="dataSourceNos" item="no" open="(" separator="," close=")">
            #{no}
        </foreach>
        AND is_delete = 0
    </select>

</mapper>
