<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.DataCategoryDetailMapper">

    <insert id="batchInsertDetails" parameterType="java.util.List">
        INSERT INTO data_category_detail
        (data_category_no, `key`, value_type, value, trial_value, version, is_delete, create_at, update_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.dataCategoryNo},
            #{item.key},
            #{item.valueType},
            #{item.value},
            #{item.trialValue},
            #{item.version},
            #{item.isDelete},
            #{item.createAt},
            #{item.updateAt}
            )
        </foreach>
    </insert>

    <select id="queryListByDataCategoryNo" resultType="com.vgbhfive.v_rule.dto.deploy.SceneStruct$DataCategoryDetail">
        SELECT data_category_no, `key`, value_type, `value`
        FROM data_category_detail
        WHERE data_category_no = #{no} AND is_delete = 0
    </select>

</mapper>
