<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.DeployMapper">

    <select id="selectApprovalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM deploy
        WHERE deploy_no = #{no} AND deploy_type = #{type} AND status_code = 1
    </select>

    <select id="selectMaxVersion" resultType="java.lang.Integer">
        SELECT IF(MAX(version) IS NULL, 0, MAX(version))
        FROM deploy
        WHERE line_no = #{lineNo} AND deploy_no = #{no}
    </select>

    <select id="queryLastDeploy" resultType="com.vgbhfive.v_rule.entity.DeployEntity">

    </select>

</mapper>
