<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.DeployMapper">

    <select id="queryList" resultType="com.vgbhfive.v_rule.dto.deploy.DeployDoneListDto">
        SELECT
            id, line_no, deploy_type, deploy_no as no, field, name, status_code, deploy_desc, create_at
        FROM deploy
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.deployType != null and param.deployType != ''">
                AND deploy_type = #{param.deployType}
            </if>
            <if test="param.no != null and param.no != ''">
                AND deploy_no = #{param.no}
            </if>
            <if test="param.name != null and param.name != ''">
                AND name like CONCAT(#{param.name}, '%')
            </if>
            <if test="param.field != null and param.field != ''">
                AND field = #{param.field}
            </if>
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM deploy
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.deployType != null and param.deployType != ''">
                AND deploy_type = #{param.deployType}
            </if>
            <if test="param.no != null and param.no != ''">
                AND deploy_no = #{param.no}
            </if>
            <if test="param.name != null and param.name != ''">
                AND name like CONCAT(#{param.name}, '%')
            </if>
            <if test="param.field != null and param.field != ''">
                AND field = #{param.field}
            </if>
        </trim>
    </select>

    <select id="selectApprovalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM deploy
        WHERE deploy_no = #{no} AND deploy_type = #{type} AND status_code = 1
    </select>

    <select id="selectMaxVersion" resultType="java.lang.Integer">
        SELECT IF(MAX(version) IS NULL, 0, MAX(version))
        FROM deploy
        WHERE line_no = #{lineNo} AND deploy_no = #{no}
    </select>

    <select id="queryLastDeploy" resultType="com.vgbhfive.v_rule.entity.DeployEntity">
        SELECT *
        FROM deploy
        WHERE deploy_no = #{sceneNo}
        ORDER BY id DESC
        LIMIT 1
    </select>

    <select id="selectVersionList" resultType="java.lang.Integer">
        SELECT version
        FROM deploy
        WHERE deploy_no = #{deployNo} AND status_code = 2 AND is_valid = 1
    </select>

</mapper>
