<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.mapper.DivideMapper">

    <select id="queryList" resultType="com.vgbhfive.dto.divide.DivideListDto">
        SELECT
            d.id, d.line_no, d.divide_name, d.divide_no, d.access_strategy_no, d.risk_strategy_no, d.version, d.deploy_at, d.is_valid, d.is_delete,
            dp.product_no, dp.type
        FROM divide d
        LEFT JOIN divide_product dp ON d.divide_no = dp.divide_no
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                d.line_no = #{param.lineNo}
            </if>
            <if test="param.divideName != null and param.divideName != ''">
                AND d.divide_name like CONCAT(#{param.divideName}, '%')
            </if>
            <if test="param.divideNo != null and param.divideNo != ''">
                AND d.divide_no = #{param.divideNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND d.is_valid = #{param.isValid}
            </if>
            AND d.is_delete = 0 AND dp.is_delete = 0
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM divide d
        LEFT JOIN divide_product dp ON d.divide_no = dp.divide_no
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                d.line_no = #{param.lineNo}
            </if>
            <if test="param.divideName != null and param.divideName != ''">
                AND d.divide_name like CONCAT(#{param.divideName}, '%')
            </if>
            <if test="param.divideNo != null and param.divideNo != ''">
                AND d.divide_no = #{param.divideNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND d.is_valid = #{param.isValid}
            </if>
            AND d.is_delete = 0 AND dp.is_delete = 0
        </trim>
    </select>

</mapper>
