<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.DivideProductMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO divide_product
        (divide_no, product_no, type, version, is_delete, create_at, update_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.divideNo},
            #{item.productNo},
            #{item.type},
            #{item.version},
            #{item.isDelete},
            #{item.createAt},
            #{item.updateAt}
            )
        </foreach>
    </insert>

    <select id="queryProductNoListByDivideNo" resultType="java.lang.String">
        SELECT distinct product_no
        FROM divide_product
        WHERE divide_no = #{divideNo} AND type = #{type}
    </select>

</mapper>
