<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.DivideMapper">

    <resultMap id="queryDetailById" type="com.vgbhfive.v_rule.entity.DivideEntity">
        <id property="id" column="id"/>
        <result property="lineNo" column="line_no"/>
        <result property="sceneNo" column="scene_no"/>
        <result property="divideName" column="divide_name"/>
        <result property="divideNo" column="divide_no"/>
        <result property="accessStrategyNo" column="access_strategy_no"/>
        <result property="riskStrategyNo" column="risk_strategy_no"/>
        <result property="priority" column="priority"/>
        <result property="isValid" column="is_valid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="version" column="version"/>
        <result property="createAt" column="create_at"/>
        <collection property="productEntityList" javaType="List" ofType="com.vgbhfive.v_rule.entity.DivideProductEntity">
            <result property="divideNo" column="divide_no"/>
            <result property="productNo" column="product_no"/>
            <result property="type" column="type"/>
        </collection>
    </resultMap>

    <select id="queryList" resultType="com.vgbhfive.v_rule.dto.divide.DivideListDto">
        SELECT
            id, line_no, scene_no, divide_name, divide_no, access_strategy_no, risk_strategy_no, priority, version, deploy_at, is_valid, create_at
        FROM divide
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.divideName != null and param.divideName != ''">
                AND divide_name like CONCAT(#{param.divideName}, '%')
            </if>
            <if test="param.divideNo != null and param.divideNo != ''">
                AND divide_no = #{param.divideNo}
            </if>
            <if test="param.isValid != null">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
        ORDER BY create_at DESC
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM divide
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.divideName != null and param.divideName != ''">
                AND divide_name like CONCAT(#{param.divideName}, '%')
            </if>
            <if test="param.divideNo != null and param.divideNo != ''">
                AND divide_no = #{param.divideNo}
            </if>
            <if test="param.isValid != null">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
    </select>

    <select id="queryDetailById" resultMap="queryDetailById">
        SELECT d.*, dp.divide_no, dp.product_no, dp.type
        FROM divide d
        LEFT JOIN divide_product dp ON d.divide_no = dp.divide_no
        WHERE d.id = #{id} AND d.is_delete = 0 AND dp.is_delete = 0
    </select>

    <select id="queryDivideBySceneNo" resultType="com.vgbhfive.v_rule.dto.deploy.SceneStruct$Divide">
        SELECT divide_no as no, divide_name as name, scene_no, priority, access_strategy_no, risk_strategy_no
        FROM divide
        WHERE scene_no = #{sceneNo} AND is_delete = 0 AND is_valid = 1
        ORDER BY priority asc
    </select>

    <update id="updateDeployTimeBatch">
        UPDATE divide
        SET deploy_at = #{deployTime}
        WHERE divide_no IN
        <foreach collection="divideList" item="divide" open="(" separator="," close=")">
            #{divide.no}
        </foreach>
        AND is_delete = 0
    </update>

    <select id="selectDropdownList" resultType="com.vgbhfive.v_rule.dto.DropdownList">
        SELECT divide_no as value, divide_name as `key`
        FROM divide
        WHERE is_valid = 1 AND is_delete = 0
    </select>

</mapper>
