<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.OperatePermissionMapper">

    <select id="queryList" resultType="com.vgbhfive.v_rule.entity.pub.OperatePermission">
        SELECT id, name, unique_sign, type, parent_id
        FROM operate_permission
    </select>

</mapper>
