<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.mapper.ProductLimitMapper">

    <select id="queryList" resultType="com.vgbhfive.dto.product.ProductLimitListDto">
        SELECT
            p.id, p.line_no, p.product_name, p.product_no, p.type, p.remark, p.version, p.deploy_at, p.is_valid, p.is_delete,
            pl.value_type, pl.value
        FROM product p
        LEFT JOIN product_limit pl ON p.product_no = pl.product_no
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                p.line_no = #{param.lineNo}
            </if>
            <if test="param.type != null and param.type != ''">
                AND p.type = #{param.type}
            </if>
            <if test="param.productName != null and param.productName != ''">
                AND p.product_name like CONCAT(#{param.productName}, '%')
            </if>
            <if test="param.productNo != null and param.productNo != ''">
                AND p.product_no = #{param.productNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND p.is_valid = #{param.isValid}
            </if>
            AND p.is_delete = 0 AND pl.is_delete = 0
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM product p
        LEFT JOIN product_limit pl ON p.product_no = pl.product_no
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                p.line_no = #{param.lineNo}
            </if>
            <if test="param.type != null and param.type != ''">
                AND p.type = #{param.type}
            </if>
            <if test="param.productName != null and param.productName != ''">
                AND p.product_name like CONCAT(#{param.productName}, '%')
            </if>
            <if test="param.productNo != null and param.productNo != ''">
                AND p.product_no = #{param.productNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND p.is_valid = #{param.isValid}
            </if>
            AND p.is_delete = 0 AND pl.is_delete = 0
        </trim>
    </select>

</mapper>
