<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.ProductMapper">

    <update id="updateDeployTimeBatch">
        UPDATE product
        SET deploy_at = #{deployTime}
        WHERE product_no IN
        <foreach collection="productNos" item="no" open="(" separator="," close=")">
            #{no}
        </foreach>
        AND is_delete = 0
    </update>

    <select id="selectDropdownList" resultType="com.vgbhfive.v_rule.dto.DropdownList">
        SELECT product_no as value, product_name as `key`
        FROM product
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="lineNo != null and lineNo != ''">
                line_no = #{lineNo}
            </if>
            <if test="list != null">
                AND line_no IN
                <foreach collection="list" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
            </if>
            AND type = #{type} AND is_valid = 1 AND is_delete = 0
        </trim>
    </select>

</mapper>
