<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.RuleSetMapper">

    <select id="queryList" resultType="com.vgbhfive.v_rule.dto.ruleSet.RuleSetListDto">
        SELECT
            id, line_no, rule_set_name, rule_set_no, first_no, first_type, second_no, second_type, combine, cond, threshold, result, version, deploy_at, is_valid, create_at
        FROM rule_set
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.ruleSetName != null and param.ruleSetName != ''">
                AND rule_set_name like CONCAT(#{param.ruleSetName}, '%')
            </if>
            <if test="param.ruleSetNo != null and param.ruleSetNo != ''">
                AND rule_set_no = #{param.ruleSetNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM rule_set
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.ruleSetName != null and param.ruleSetName != ''">
                AND rule_set_name like CONCAT(#{param.ruleSetName}, '%')
            </if>
            <if test="param.ruleSetNo != null and param.ruleSetNo != ''">
                AND rule_set_no = #{param.ruleSetNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
    </select>

    <select id="queryRuleSetByRuleSetNos" resultType="com.vgbhfive.v_rule.dto.deploy.SceneStruct$RuleSet">
        SELECT rule_set_no, rule_set_name, first_no, first_type, second_no, second_type, combine, cond, threshold, result, version, is_valid
        FROM rule_set
        WHERE rule_set_no IN
        <foreach collection="ruleSetNos" item="no" open="(" separator="," close=")">
            #{no}
        </foreach>
        AND is_delete = 0
    </select>

    <update id="updateDeployTimeBatch">
        UPDATE rule_set
        SET deploy_at = #{deployTime}
        WHERE rule_set_no IN
        <foreach collection="ruleSetList" item="ruleSet" open="(" separator="," close=")">
            #{ruleSet.ruleSetNo}
        </foreach>
        AND is_delete = 0
    </update>

</mapper>
