<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.SceneMapper">

    <select id="queryList" resultType="com.vgbhfive.v_rule.dto.scene.SceneListDto">
        SELECT
            id, line_no, scene_name, field, scene_no, is_valid, create_at
        FROM scene
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.sceneName != null and param.sceneName != ''">
                AND scene_name like CONCAT(#{param.sceneName}, '%')
            </if>
            <if test="param.field != null and param.field != ''">
                AND field like CONCAT(#{param.field}, '%')
            </if>
            <if test="param.sceneNo != null and param.sceneNo != ''">
                AND scene_no = #{param.sceneNo}
            </if>
            <if test="param.isValid != null">
                AND is_valid = #{param.isValid}
            </if>
            <if test="param.lineNoList != null">
                AND line_no IN
                <foreach collection="param.lineNoList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
            </if>
            AND is_delete = 0
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM scene
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.sceneName != null and param.sceneName != ''">
                AND scene_name like CONCAT(#{param.sceneName}, '%')
            </if>
            <if test="param.field != null and param.field != ''">
                AND field like CONCAT(#{param.field}, '%')
            </if>
            <if test="param.sceneNo != null and param.sceneNo != ''">
                AND scene_no = #{param.sceneNo}
            </if>
            <if test="param.isValid != null">
                AND is_valid = #{param.isValid}
            </if>
            <if test="param.lineNoList != null">
                AND line_no IN
                <foreach collection="param.lineNoList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
            </if>
            AND is_delete = 0
        </trim>
    </select>

    <select id="selectBySceneNo" resultType="com.vgbhfive.v_rule.entity.SceneEntity">
        SELECT *
        FROM scene
        WHERE scene_no = #{sceneNo} AND is_delete = 0
    </select>

    <select id="querySceneBySceneNo" resultType="com.vgbhfive.v_rule.dto.deploy.SceneStruct$Scene">
        SELECT line_no, scene_no as no, scene_name as name, field
        FROM scene
        WHERE scene_no = #{sceneNo} AND is_delete = 0
    </select>

    <select id="selectDropdownList" resultType="com.vgbhfive.v_rule.dto.DropdownList">
        SELECT scene_no as value, scene_name as `key`
        FROM scene
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="lineNo != null and lineNo != ''">
                line_no = #{lineNo}
            </if>
            <if test="list != null">
                AND line_no IN
                <foreach collection="list" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
            </if>
            AND is_valid = 1 AND is_delete = 0
        </trim>
    </select>

</mapper>
