<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.mapper.StrategyMapper">

    <select id="queryList" resultType="com.vgbhfive.dto.strategy.StrategyListDto">
        SELECT
            id, line_no, scene_no, strategy_name, strategy_no, model, version, deploy_at, is_valid, is_delete
        FROM strategy
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.sceneNo != null and param.sceneNo != ''">
                AND scene_no = #{param.sceneNo}
            </if>
            <if test="param.strategyName != null and param.strategyName != ''">
                AND strategy_name like CONCAT(#{param.strategyName}, '%')
            </if>
            <if test="param.strategyNo != null and param.strategyNo != ''">
                AND strategy_no = #{param.strategyNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM strategy
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.sceneNo != null and param.sceneNo != ''">
                AND scene_no = #{param.sceneNo}
            </if>
            <if test="param.strategyName != null and param.strategyName != ''">
                AND strategy_name like CONCAT(#{param.strategyName}, '%')
            </if>
            <if test="param.strategyNo != null and param.strategyNo != ''">
                AND strategy_no = #{param.strategyNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
    </select>

</mapper>
