<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.StrategyMapper">

    <resultMap id="queryDetailById" type="com.vgbhfive.v_rule.entity.StrategyEntity">
        <id property="id" column="id"/>
        <result property="lineNo" column="line_no"/>
        <result property="sceneNo" column="scene_no"/>
        <result property="strategyName" column="strategy_name"/>
        <result property="strategyNo" column="strategy_no"/>
        <result property="model" column="model"/>
        <result property="isValid" column="is_valid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="version" column="version"/>
        <result property="createAt" column="create_at"/>
        <collection property="ruleDetailEntityList" javaType="List" ofType="com.vgbhfive.v_rule.entity.StrategyRuleDetailEntity">
            <result property="strategyNo" column="strategy_no"/>
            <result property="detailNo" column="detail_no"/>
            <result property="ruleType" column="rule_type"/>
            <result property="priority" column="priority"/>
        </collection>
    </resultMap>

    <select id="queryList" resultType="com.vgbhfive.v_rule.dto.strategy.StrategyListDto">
        SELECT
            id, line_no, scene_no, strategy_name, strategy_no, model, version, deploy_at, is_valid, is_delete
        FROM strategy
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.sceneNo != null and param.sceneNo != ''">
                AND scene_no = #{param.sceneNo}
            </if>
            <if test="param.strategyName != null and param.strategyName != ''">
                AND strategy_name like CONCAT(#{param.strategyName}, '%')
            </if>
            <if test="param.strategyNo != null and param.strategyNo != ''">
                AND strategy_no = #{param.strategyNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM strategy
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.lineNo != null and param.lineNo != ''">
                line_no = #{param.lineNo}
            </if>
            <if test="param.sceneNo != null and param.sceneNo != ''">
                AND scene_no = #{param.sceneNo}
            </if>
            <if test="param.strategyName != null and param.strategyName != ''">
                AND strategy_name like CONCAT(#{param.strategyName}, '%')
            </if>
            <if test="param.strategyNo != null and param.strategyNo != ''">
                AND strategy_no = #{param.strategyNo}
            </if>
            <if test="param.isValid != null and param.isValid != ''">
                AND is_valid = #{param.isValid}
            </if>
            AND is_delete = 0
        </trim>
    </select>

    <select id="queryDetailById" resultMap="queryDetailById">
        SELECT s.*, sr.strategy_no, sr.detail_no, sr.rule_type, sr.priority
        FROM strategy s
        LEFT JOIN strategy_rule_detail sr ON s.strategy_no = sr.strategy_no
        WHERE s.id = #{id}
    </select>

    <select id="queryStrategyByStrategyNos" resultType="com.vgbhfive.v_rule.dto.deploy.SceneStruct$Strategy">
        SELECT strategy_no, strategy_name, model, version, is_valid
        FROM strategy
        WHERE strategy_no IN
        <foreach collection="strategyNos" item="no" open="(" separator="," close=")">
            #{no}
        </foreach>
        AND is_delete = 0
    </select>

    <select id="queryStrategyDetailRuleNoByStrategyNo" resultType="java.lang.String">
        SELECT detail_no
        FROM strategy_rule_detail
        WHERE strategy_no = #{strategyNo} AND rule_type = #{ruleType} AND is_delete = 0
    </select>

</mapper>
