<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.UserLineMapper">

    <select id="userLineDetails" resultType="java.lang.String">
        SELECT line_no
        FROM user_line
        WHERE user_id = #{userId} AND is_delete = 0
    </select>

    <insert id="batchInsertEntity" parameterType="java.util.List">
        INSERT INTO user_line
        (user_id, line_no, is_delete, create_at, update_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.lineNo},
            #{item.isDelete},
            #{item.createAt},
            #{item.updateAt}
            )
        </foreach>
    </insert>

</mapper>
