<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgbhfive.v_rule.mapper.UserMapper">

    <select id="selectByEmail" resultType="com.vgbhfive.v_rule.entity.UserEntity">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <update id="updateByEmail" parameterType="com.vgbhfive.v_rule.entity.UserEntity">
        UPDATE user SET password = #{entity.password}, salt = #{entity.salt}, status = #{entity.status}, update_at = #{entity.updateAt}
        WHERE email = #{entity.email}
    </update>

    <select id="queryList" resultType="com.vgbhfive.v_rule.dto.user.UserListDto">
        SELECT id, name, mobile, email, status, create_at, update_at
        FROM user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.name != null and param.name != ''">
                AND name like CONCAT(#{param.name}, '%')
            </if>
            <if test="param.mobile != null and param.mobile != ''">
                AND mobile = #{param.mobile}
            </if>
            <if test="param.email != null and param.email != ''">
                AND email = #{param.email}
            </if>
            <if test="param.status != null">
                AND status = #{param.status}
            </if>
            AND name != 'admin'
        </trim>
        LIMIT #{start}, #{limit}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="param.name != null and param.name != ''">
                AND name like CONCAT(#{param.name}, '%')
            </if>
            <if test="param.mobile != null and param.mobile != ''">
                AND mobile = #{param.mobile}
            </if>
            <if test="param.email != null and param.email != ''">
                AND email = #{param.email}
            </if>
            <if test="param.status != null">
                AND status = #{param.status}
            </if>
            AND name != 'admin'
        </trim>
    </select>

    <select id="dropdownList" resultType="com.vgbhfive.v_rule.dto.DropdownList">
        SELECT name as `key`, id as value
        FROM user
        WHERE status IN (0, 2)
    </select>

</mapper>
